.Expertos__container {
    width: 100%;
    height:100%;
    opacity: 0.3;
    max-height:500px;
    margin: 0 ;
    padding: 0 ;
 
   
   
  }
 
  .container__expert{
    width: 100%;
  }
  .texto-encima{
      position: absolute;
      top: 300px;
    
      text-align: center;
      width: 100%;
      
      font-size:50px;
  }
  .titulo{
    font-size: 50px;
    text-align:center;
    width: 100%;
    
    
  }
  .titulo2{
    width: 100px;
    margin:auto;
    border-top: 4px solid #6d29eb;
      }

  .expert_container {
    width: 100%;
    background-color: #fafafa;
    position: absolute;
    margin-top: 0 ;
   
  }
 
  #columnas{
    column-count:2;
    column-gap:20px;
   /* column-rule:4px dotted gray;*/
 }
 #Centrado{
  margin-left: 250px;
 }
