.services{
    background-image: linear-gradient(#3cff8d, #336177); 
    height: calc(100vh - 186px);
    display: flex;
    align-items: center;
}

.etapa{
    border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
}

.etapa img{
    width: min-content
}