#caja1,#caja2,#caja3,#caja4{
    
    width: 300px;
    height: 300px;
    margin: 20px;
   
    float: left;
    }
.BadgesListItem__avatar {
    border-radius: 50%;
    background: #a3a3a3;
     margin-right: 0.5rem;
     width: 80px;
    height: 80px;
      }