.foto-cargada{
    width: 60%;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
.form-foto{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    border-radius: 20px;
    width: 100%;
    margin:auto;
    height: 90%;
    
    
}

.title-foto{
    text-align:center;
    font-size: 3vw;
    
}