#header{
    background: black;
  }
  
#logo-header{
    display: flex;
    align-items: center;
    font-family: 'Fjalla One', sans-serif;
}

.logo{
    height: 100px;
}
  
.frase-logo{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}