.nosotros{
    display: block;
    /* height: calc(100vh - 186px); */
}

.logo-img{
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
}

.logo-devPro{
    width: inherit;
    margin-left: 10px;
}

.mision-vision{
    display: flex;
    justify-content: center;
}